*, *:before, *:after{margin: 0; padding: 0;}

.container{float: left; width: 100%;}
.content{width: 80%; margin: 0 10%; padding: 40px 0;}

.bg-blue{background-color: #09f; color: #333333}
.bg-light{background-color: #e6e4d9; color: #444;}


.fontzero{font-size: 0em;}

.clear{clear: both;}