/*Reset*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;

    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;

    line-height: 1.2;
    letter-spacing: 0;
    vertical-align: middle;


    box-sizing:  border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{background: #fbfbfb;}
h1{font-size: 2em; font-weight: 300;}
h2{font-size: 1.8em; font-weight: 400;}
.tagline{font-size: 1.8em; font-weight: 400; color: pink;}
h3{font-size: 1.5em; font-weight: 700;}
p{margin-bottom: 15px;}
p:last-child{margin-bottom: 0;}
mark{padding: 5px 10px; background-color: #eee;}
ul{list-style: none;}
li{list-style: none;}
img{float: left; border: none; width: 100%; max-width: 100%;}
small{font-size: 0.75em; color: #555;}
a{text-decoration: none;}
a img{border: 0;}

/*Background*/
.bg-body{background-color: #fbfbfb; color: #333}
.bg-grey{background-color: #444; color: #fff}
.bg-blue{background-color: #34495d; color: #fff}
.bg-light{background-color: #e6e4d9; color: #444;}
.bg-bluelight{background-color: #ccd8d1; color: #444;}
.bg-orange{background-color: #e16f4d; color: #fff;}

/*Font Weight*/
.font-thinm{font-weight: 100 !important;}
.font-light{font-weight: 300 !important;}
.font-normal{font-weight: 400 !important;}
.font-bold{font-weight: 700 !important;}

/*Font Size*/
.fontzero{font-size: 0em; !important;}
.fontsize1{font-size: 1em;}
.fontzero1b{font-size: 1.5em;}
.fontsize2{font-size: 2em;}
.fontzero2b{font-size: 2.5em;}
.fontsize3{font-size: 3em;}
.fontzero3b{font-size: 3.5em;}

/*Containers*/
.container{float: left; width: 100%;}
.content{width: 80%; margin: 0 10%; padding: 40px 0;}
.content-page{padding: 60px 0;}

.sectiontitle{float: left; width: 100%; margin-bottom: 30px; text-align: center;}
.sectiontitle h1{font-size: 2.4em; font-weight: 300; margin-bottom: 10px;}
.sectiontitle .tagline{font-size: 1.4em; font-weight: 300;}
.sectiontitle-nomargin{margin: 0;}




/*Helpers*/
.textshadow{text-shadow: 1px 1px 0 #ccc;}
.boxshadow{-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); -mox-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);}
.radius{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.last{margin-right: 0;}
.clear{clear: both;}

/*Text Align*/
.al-left{text-align: left;}
.al-righ{text-align: right;}
.al-center{text-align: center;}

/*Float*/
.fl-right{float: right;}
.fl-left{float: left;}
.fl-none{float: none;}

/*Display*/
.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-inline{display: inline;}
.d-none{display: none;}

/*Box*/
.box{width: auto; float: left;}
.box-line{float: left; width: 100%}

.box-small{width: 22.75%; margin-right: 3%;}
.box-medium{width: 30%; margin-right: 5%;}
.box-large{width: 46.5%; margin-right: 7%;}
.box-full{widht: 100%; margin: 0;}

/*Video*/
.video{width: 100%; margin: 0;}
.video-small{width: 40%; margin: 0 30%;}
.video-medium{width: 60%; margin: 0 20%;}
.video-slarge{width: 80%; margin: 0 10%;}

/*Botões*/
.btn{display: inline-block; padding: 10px 20px; background: #333; border: 1px solid #222; cursor: pointer; font-size: 1em; font-weight: 400; color: #fff; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.5); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.5); box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.5);}
.btn-big{font-size: 1.8em; padding: 20px 40px;}

.btn-green{background-color: #59ab66; border-color: #4b9157;}
.btn-green:hover{background-color: #66c475; border-color: #59aa66;}
.btn-blue{background-color: #4c86dc; border-color: #4376c1;}
.btn-blue:hover{background-color: #589bff; border-color: #005be5;}
.btn-red{background-color: #e53935; border-color: #d32f2f;}
.btn-red:hover{background-color: #f44336; border-color: #ef5350;}
.btn-yellow{background-color: #fdd835; border-color: #fbc02d;}
.btn-yellow:hover{background-color: #ffeb3b; border-color: #ffee58;}

/*Trigger*/
.trigger{float: left; width: 100%; padding: 25px; font-size: 1.2em; margin-bottom: 30px;}
.trigger-bottom{margin: 30px 0 0 0;}

.trigger-accept{background-color: #accc9a; color: #6b7f60;}
.trigger-infor{background-color: #9ab7cc; color: #60727f;}
.trigger-alert{background-color: #c6b247; color: #776b2b;}
.trigger-error{background-color: #e69f9f; color: #996a6a;}

/*Short Icons*/
.shorticon{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
.shorticon-sectiontitle{padding-left: 60px;}

.shorticon-facebook{background-image: url(boot/social/facebook.png)}
.shorticon-google{background-image: url(boot/social/google.png)}
.shorticon-twitter{background-image: url(boot/social/twitter.png)}

.shorticon-config{background-image: url(boot/icons/ead.png)}
.shorticon-mail{background-image: url(boot/icons/mail.png)}
.shorticon-section{background-image: url(boot/icons/section.png)}






























