/*Logo*/
.main_logo{position: relative; width: 242px ; height: 60px; }
.main_logo a{position: absolute; width: 210px; height: 60px; background: url(../img/logo-ws-html5.png) center center no-repeat; background-size: auto 76%; margin-top: 10px;}
.main_logo a:hover{background-color: #222;}

/*Login*/
.main_login{position: relative; float: right; width: 250px; height: 95px;}
.main_login h1{margin-bottom: 10px ; }


/*Menu Principal*/
.main_nav{width: auto; margin-top: 20px;}
.main_nav li{float: left;}
.main_nav a{float: left; padding: 12px 16px; color: #eee; font-weight: normal; font-size: 0.8em;}
.main_nav a:hover{color: #fff; text-decoration: underline;}

/*Rodapé*/
.main_footer .title{font-size: 1em; text-transform: uppercase; margin-bottom: 10px; padding-bottom: 8px; border-bottom: 1px solid #ccc;}
.main_footer li{margin-bottom: 2px; padding: 3px 0;}
.main_footer a{color: #cf4823;}
.main_footer a:hover{text-decoration: underline;}

.main_ead hr{margin-bottom: 15px;}
.main_ead .plast{margin: 0; font-size: 1em; text-align: center; line-height: 1.4;}

/*Video*/
.main_video{margin-bottom: 24px; padding-bottom: 24px; background: url(../img/video_shadow.png) bottom center no-repeat;}
.main_videos h1{margin-bottom: 30px; text-align: center;}
.main_videos .box{margin-bottom: 30px;}
.main_videos .box_video_title{font-size: 1em; font-weight: normal; margin: 0;}
.main_videos .thumb{float: left; position: relative; margin-bottom: 10px;}
.main_videos .video_play{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2) url(../img/play_video.png) left 10px bottom 10px no-repeat; background-size: auto 50%; cursor: pointer;}
.main_videos .video_play:hover{background-color: rgba(207,72,35,0.5);}

.btn_video{font-size: 0.5em;}


/*Tec Caracteristicas*/
.main_tec_item{padding: 15px 30px; margin-bottom: 30px; margin-bottom: 30px; min-height: 350px;}
.main_tec_item:hover{background: #ff7c6d; color: #fff;}
.main_tec_item img{padding: 15px; width: 80%; margin: 0 10%; background: #eee; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-bottom: 15px;}
.main_tec_item h1{font-size: 1.3em; margin-bottom: 15px;}
.main_tec_item p{font-size: 1em;}

/*Ficha Técnica*/
.main_info h1{font-size: 1.2em;}
.main_info{padding: 25px; background: #eee; text-align: center;}
.main_info b{display: block; font-size: 1.1em;}

/*Retomada e Conversão*/
.retomada_title h1{font-weight: 500;}

/*Dobra de Conversão*/
.main_chamdada{float: left; width: 80%; margin: 40px 10% 0 10%; font-size: 1.5em; font-weight: 300;}
